CONFIG_DEFAULT_HOSTNAME="kali"

# Module management
# CONFIG_MODULE_FORCE_UNLOAD is not set
# CONFIG_MODULE_SIG_FORCE is not set
CONFIG_MODULE_SIG=y
# Raw HID
CONFIG_HIDRAW=y

# USB host serial
CONFIG_USB_ACM=y
CONFIG_USB_SERIAL=y
CONFIG_USB_SERIAL_GENERIC=y
CONFIG_USB_SERIAL_CP210X=y
CONFIG_USB_SERIAL_FTDI_SIO=y
CONFIG_USB_SERIAL_PL2303=y
CONFIG_USB_SERIAL_CH341=y

# USB gadget functions
CONFIG_USB_CONFIGFS_RNDIS=y
CONFIG_USB_CONFIGFS_ACM=y
CONFIG_USB_CONFIGFS_SERIAL=y
CONFIG_USB_CONFIGFS_ECM=y
CONFIG_USB_CONFIGFS_EEM=y

# USB Bluetooth
CONFIG_BT_HCIBTUSB=y
CONFIG_BT_HCIBTUSB_BCM=y
CONFIG_BT_HCIBTUSB_RTL=y

# Bluetooth HCI UART
CONFIG_BT_HCIUART=y
CONFIG_BT_HCIUART_H4=y

# Virtual HCI
CONFIG_BT_HCIVHCI=y

# External USB WiFi (Phase 4B)
CONFIG_MAC80211=m
CONFIG_MAC80211_HAS_RC=y
CONFIG_MAC80211_RC_MINSTREL=y
CONFIG_MAC80211_RC_MINSTREL_HT=y
CONFIG_MAC80211_RC_DEFAULT_MINSTREL=y
CONFIG_MAC80211_RC_DEFAULT="minstrel_ht"
# CONFIG_MAC80211_MESH is not set
# CONFIG_MAC80211_LEDS is not set
# CONFIG_MAC80211_DEBUGFS is not set
# CONFIG_MAC80211_MESSAGE_TRACING is not set
# CONFIG_MAC80211_DEBUG_MENU is not set

CONFIG_WLAN_VENDOR_RALINK=y
CONFIG_RT2X00=y
CONFIG_RT2800USB=m

CONFIG_WLAN_VENDOR_ATH=y
CONFIG_ATH9K_HTC=m
